body {
  font-family: "Century Gothic";
}

h1 {
  padding: 40px 0;
  text-align: center;
}

.loginForm {
  text-align: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

input {
  font-family: "Century Gothic";
  width: 200px;
  height: 22px;
  margin: 15px 15px;
}

button {
  font-family: "Century Gothic";
  margin: 10px 0;
  padding: 5px;
  font-size: 14px;
}
